@import "../config";

h2 {
  margin: 0;
  margin-bottom: 16px;
}

.container {
  box-sizing: border-box;
  height: 100%;
  margin: 0 auto;
  max-width: 1140px;
  padding: $padding*2 $padding;
  width: 100%;
}

.screen {
  box-sizing: border-box;
  color: white;
  height: calc(100vh - $header-height);
  width: 100vw;
}
